{% extends "base.html" %}
{% block content %}
<h1>HISTORIAL DE MOVIMIENTOS</h1>

<div class="search-box" style="margin-bottom:30px;">
    <input type="text" id="filtroHistorial" onkeyup="filtrarH()"
        placeholder="Filtrar por equipo, responsable o tipo...">
</div>

<div class="table-container">
    <table id="tablaHistorial">
        <thead>
            <tr>
                <th>FECHA</th>
                <th>EQUIPO</th>
                <th>CANTIDAD</th>
                <th>TIPO</th>
                <th>RESPONSABLE</th>
            </tr>
        </thead>
        <tbody>
            {% for h in registros %}
            <tr class="fila-h">
                <td style="color:var(--text-dim); font-family: 'JetBrains Mono'; font-size: 0.8rem;">{{
                    h.fecha.strftime('%d/%m/%Y %H:%M') }}</td>
                <td><b>{{ h.equipo.nombre }}</b></td>
                <td><span style="font-family: 'JetBrains Mono'; font-weight: 700;">x{{ h.cantidad }}</span></td>
                <td><span class="badge"
                        style="color: {{ 'var(--orange)' if h.tipo == 'SALIDA' else 'var(--green)' }}">{{ h.tipo
                        }}</span></td>
                <td><span style="color: var(--orange); font-weight: 600;">@{{ h.usuario }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function filtrarH() {
        let q = document.getElementById('filtroHistorial').value.toLowerCase();
        document.querySelectorAll('.fila-h').forEach(f => {
            f.style.display = f.innerText.toLowerCase().includes(q) ? "" : "none";
        });
    }
</script>
{% endblock %}